<div class="row">
    <div class="col-md-4">
        <h2>1. Single call.</h2>
        <p>A</p>
        <p>@Html.ActionLink("Run", "Index", "Home", new {method = 1}, null)</p>
    </div>
    <div class="col-md-4">
        <h2>2. Single extra intrnal call</h2>
        <p>B -> A</p>
        <p>@Html.ActionLink("Run", "Index", "Home", new {method = 2}, null)</p>
    </div>
    <div class="col-md-4">
        <h2>3. Multiple internal calls</h2>
        <p>C -> (B -> A) | (A)</p>
        <p>@Html.ActionLink("Run", "Index", "Home", new { method = 3}, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Result</h2>
        <p>@ViewBag.Result</p>
    </div>
</div>
